/* body {
    background: linear-gradient(
        0deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
} */

.main-container {
    width: 100%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    color: darkslategray;
    /* background-color: gainsboro; */
    border-radius: 25px;
}

/* .weather-container {
    width: 100px;
    background-color: white;
    margin: 0 auto 0 auto;
} */

.weather-icon {
    width: 300px;
    margin-top: -50px;
    margin-bottom: -50px;
}

.submit-button {
    background-color: green;
    font-size: 25px;
    color: white;
    text-align: center;
    padding-top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    transition: 0.5s;
}

.submit-button:hover {
    background-color: darkgreen;
    border-radius: 12px;
    transition: 0.5s;
}
