.main-container {
  width: 600px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  color: darkslategray;
  background-color: gainsboro;
  border-radius: 25px;
}

.weather-icon {
  width: 300px;
  margin-top: -50px;
  margin-bottom: -50px;
}

.submit-button {
  background-color: green;
  font-size: 25px;
  color: white;
  text-align: center;
  padding-top: 5px;
  width: 120px;
  height: 48px;
  border-radius: 10px;
  transition: 0.5s;
}

.submit-button:hover {
  background-color: darkgreen;
  border-radius: 25px;
  transition: 0.5s;
}

/* .form-field {
  width: 1000px;
}

.form-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
} */
